@import 'ant-design-vue/dist/antd.css';
@import '@/assets/colors.module.scss';

/**
 * Bugfixes for antd: plus and min icons are not shown on small buttons in Firefox.
 * https://github.com/ant-design/ant-design/commit/15524df9414d3d44235674b3328fad3ef50714d1
 */
.anticon svg {
  shape-rendering: auto !important;
}

/**
 * Tooltips should never be interactive.
 */
.ant-tooltip {
  pointer-events: none;
}

/** Custom CSS */

body {
  overflow: hidden;
  background: $background;
}

#app {
  height: 100%;
}

kbd {
  background-color: $gray-4;
  border-radius: 3px;
  border: 1px solid $gray-6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: $gray-8;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  font-family: monospace;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}
