@import 'ant-design-vue/dist/antd.css';

/**
 * Bugfixes for antd: plus and min icons are not shown on small buttons in Firefox.
 * https://github.com/ant-design/ant-design/commit/15524df9414d3d44235674b3328fad3ef50714d1
 */
.anticon svg {
  shape-rendering: auto !important;
}

/** Custom CSS */

body {
  overflow: hidden;
  background: #ececec;
}

#app {
  height: 100%;
}
